.signup_container {
	width: 100%;
	min-height: 100vh;
  background: url("../assets/beige.jpg"  );
  background-size:50;
	display: flex;
	align-items: center;
	justify-content: center;
}


.signup_form_container {
	width: 800px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background:linear-gradient(45deg,#faecd0,#eddfbe);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.left h1 {
	margin-top: 0;
	color: black;
	font-size: 35px;
	align-self: center;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	width: 370px;
	border-radius: 10px;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background:linear-gradient(45deg,#faecd0,#eddfbe);
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}
