.product {
    margin: 8rem 6rem;
    
}

.product h1 {
    font-size: 5rem;
}

 .first-prod {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    font-family:sans-serif;
}

.first-prod-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.prod-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.prod-text h2 {
    padding-bottom: 1rem;
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

.btnn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
.btnn2 {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  
  .btnn:hover {
    background-color: #003366;
    box-shadow: 0px 15px 20px rgba(0,0,0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btnn:active {
    transform: translateY(-1px);
  }
.btnn1 {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background:linear-gradient(45deg,#faecd0,#eddfbe);
    border-color:black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  
  .btnn1:hover {
    
    box-shadow: 0px 15px 20px rgba(0,0,0, 0.4);
    color: black;
    transform: translateY(-7px);
  }
  
  .btnn1:active {
    transform: translateY(-1px);
  }

@media screen and (max-width: 850px) {
    .product {
        margin: 4rem 2rem;
    }

    .first-prod {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .first-prod-reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.5rem;
    }

    .prod-text {
        width: 100%;
        text-align: start;
        font-size: 1.1rem;
    }

    .image {
        width: 100%;
        margin: 1.8rem 0;
    }

    .image img {
        height: 250px;
    }
}

