.deal {
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.deal h1 {
    font-size: 3rem;
}

.dealcard {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.d-card {
    width: 32%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
}

.d-image {
    height: 500px;
    overflow: hidden;
    border-radius: 7px;
}

.d-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;  
}

.d-image:hover img {
    transform: scale(1.2);
}

.d-card h4{
    font-size: 1.3rem;
    padding: 0.9rem 0 0.2rem 0;
}

@media screen and (max-width: 850px) {
    .deal {
        margin: 4rem 2rem;
    }

    .dealcard {
        flex-direction: column;
    }

    .d-card {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}