

.body {
	margin: 0;
	background:linear-gradient(45deg,#faecd0,#eddfbe);
	font-family: sans-serif;
	font-weight: 400;
    
}

.container {
	position: absolute;
	top: 600px;
	left: 45%;
	transform: translate(-50%, -50%);
}

.table {
	width: 1250px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.td {
	padding: 15px;
    background-color: rgba(255,255,255,0.2);
	color: #000000;
    text-align: center;
    
}

.th {
	padding: 15px;
    background-color: rgba(255,255,255,0.2);
	color: #000000;
}


.th {
	text-align: justified;{
        &:hover {
            background-color: rgba(255,255,255,0.3);
        } 
    }
}

.td {
    &:hover {
        background-color: rgba(255,255,255,.5);
    }
}


.thead {
	th {
		background-color: #000000;
	}
}


